
       <%-include('partials/header')%>
       <div class="kingster-body-wrapper clearfix  kingster-with-frame">
            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper  gdlr-core-wrapper-full-height gdlr-core-js gdlr-core-full-height-center" style="padding: 0px 0px 0px 0px;" data-skin="White Text">
                        <div class="gdlr-core-pbf-background-wrap">
                            <div class="gdlr-core-pbf-background gdlr-core-parallax gdlr-core-js" style="background-image: url(/static/upload/disc.jpeg) ;background-size: cover ;background-position: center ;" data-parallax-speed="0"></div>
                        </div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js  gdlr-core-full-height-content">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-40 gdlr-core-column-first">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js  gdlr-core-column-extend-right gdlr-core-column-full-height gdlr-core-full-height-center" style="padding: 150px 0px 150px 90px;">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js  gdlr-core-full-height-content" data-gdlr-animation="fadeIn" data-gdlr-animation-duration="600ms" data-gdlr-animation-offset="0.8">
                                        
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix  gdlr-core-left-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 50px ;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title " style="font-size: 54px ;letter-spacing: 0px ;text-transform: none ;">Website Disclaimer</h3></div>
                                                    </div>
                                                                       
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-text-box-item gdlr-core-item-pdlr gdlr-core-item-pdb gdlr-core-left-align" style="padding-bottom: 10px ;">
                                                    <div class="gdlr-core-text-box-item-content" style="font-size: 17px ;">
                                                        <p> 
                                                            No representation or warranty, direct or implied, is made as to the accuracy, 
                                                            correctness or completeness of any information contained in this Disclaimer 
                                                            Policy or on https://gpscodisha.com/ and the same is subject to errors and omissions. 
                                                            All such information must be independently verified by you and you shall defend, 
                                                            indemnify and hold harmless Gurukul Public School Chandikhol against all claims in this regard.
                                                        </p>

                                                        <p>
                                                            If you see something in a website that needs correction or updation in webpage, 
                                                            please send email to gurukulpublicschooljajpur@gmail.com
                                                        </p>
                                                       
                                                         <p>
                                                            Updation and accuracy of information contained in web pages depends on providers. 
                                                            Issues of content, accuracy and timeliness should be directed to the providers of 
                                                            those web pages. Those providers include various departments, offices and other units, 
                                                            as well as individual faculty and staff.
                                                        </p>
                                                       
                                                        <p>
                                                            If you use https://gpscodisha.com/, you shall be responsible for maintaining the 
                                                            confidentiality of your account and password and for restricting access to your 
                                                            computer and you shall at all times assume all responsibility for all activities 
                                                            that occur under your account or password.
                                                        </p>    
                                                       
                                                        <p>   
                                                            Any damage, monetary or otherwise or any loss resulting due to misuse of your personal 
                                                            information shall be to your account and shall be borne exclusively by you.
                                                        </p>
                                                       
                                                        <p>   
                                                            The information published on the website are for immediate information only and no 
                                                            legal claim can be made for any damage caused by using the content of this site.
                                                        </p>
                                                       
                                                        <p>
                                                            You have agreed not to hold Gurukul Public School Chandikhol, Jajpur liable to any 
                                                            direct or indirect or consequential damage resulting from using https://gpscodisha.com/.
                                                        </p>
                                                       
                                                         <p>
                                                            Gurukul Public School Chandikhol, Jajpur reserves the right to change the information 
                                                            published on this site at any point of time without further notification. 
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer>
                <div class="kingster-copyright-wrapper">
                    <div class="kingster-copyright-container kingster-container clearfix">
                        <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2019, Max Themes</div>
                        <div class="kingster-copyright-right kingster-item-pdlr">
                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb  gdlr-core-none-align" style="padding-bottom: 0px ;"><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook"><i class="fa fa-facebook" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="google-plus"><i class="fa fa-google-plus" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin"><i class="fa fa-linkedin" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="skype"><i class="fa fa-skype" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter"><i class="fa fa-twitter" ></i></a><a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i class="fa fa-instagram" ></i></a></div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    


	<script type='text/javascript' src='/static/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='/static/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='/static/plugins/goodlayers-core/plugins/combine/script.js'></script>
    <script type='text/javascript'>
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
    </script>
    <script type='text/javascript' src='/static/plugins/goodlayers-core/include/js/page-builder.js'></script>
    <script type='text/javascript' src='/static/js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript'>
        var kingster_script_core = {
            "home_url": "index.html"
        };
    </script>
    <script type='text/javascript' src='/static/js/plugins.min.js'></script>
